<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fishing Slide Show</title>
    <link rel="stylesheet" href="css/project.css">
</head>
<body>
    <%- include ('layouts/menu') -%>
    <main>
        <h1>Fishing Slide Show</h1>

        
        <!-- <ul id="slideshow-container">
            <div class="slideshow-image fade">
                <li><a href="images/bmw.jpg" title="BMW E30 M3"></a></li>
            </div>
            
            <div class="slideshow-image fade">
                <li><a href="images/ferrari.jpg" title="Ferrari SF90"></a></li>
            </div>
            
            <div class="slideshow-image fade">
                <li><a href="images/koenigsegg.jpg" title="Koenigsegg Agura RS"></a></li>
            </div>
            
            <div class="slideshow-image fade">
                <li><a href="images/pagani.jpg" title="Pagani Huayra"></a></li>
            </div>
            
            <div class="slideshow-image fade">
                <li><a href="images/porche.jpeg" title="Porche 911"></a></li>
            </div>
            
            
            
        </ul> -->

        <div class="slider">
            <div class="img-box">
                <div class="square">
                    <img src="images/bmw.jpg" alt="" class="slider-img" />
                </div>
                
            </div>

            <!--Next and prev bttn-->
            
            <button class="leftbtn" onClick="prev()">Prev</button>
            <button class="rightbtn" onClick="next()">next</button>
        </div>
    
        <!-- <p><img id="main_image" src="images/pagani.jpg" alt="Catch and Release"></p>
        <h2 id="caption">Catch and Release</h2>     -->

        <script src="js/slide-show.js"></script>
    </main> 
    <%- include ('layouts/footer') -%> 
</body>
</html>