body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    width: auto;
    border: 3px solid rgb(57, 62, 70);
    padding: 0 2em 1em;
    text-align: center;
    
}
h1 {
    color: cornflowerblue;
}
div {
    margin-bottom: .5em;
}
label {
    display: inline-block;
    width: 11em;
    text-align: right;
}
input {
    margin-left: 1em;
    margin-right: 0.5em;
}

span {
    color:black;
    font-size: 12px;

}

#main_image{
    width: 1000px;
    display: block;
    margin: 0 auto;
}

#image_list {
    width: 800px
}

.error-span {
    color: red;
}

.current-setting{
    font-weight: bold;
}

label {
    font-size: 12px;
}

select {
    margin-left: 1em;
    margin-right: 0.5em;
    width: 11em;
}

button {
    margin-left: 1.5em;
    width: 11em;
}


h2 {
    color: cornflowerblue;
    text-align: center;
}

p {
    text-align: center;
}

#image_list{
    display: none;
}

.menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.menu-li {
    float: left;
}
  
.menu-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
.menu-li a:hover {
    background-color: cornflowerblue;
}

  .hidden{
    display: none;
}

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
}
  
.footer-ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
    display: flex;
    justify-content: space-between;
}
  
.footer-li {
    padding:0 10px;
    text-align: center;
    align-items: center;
}
  
.footer-ul a {
    color:black;
    text-decoration:none;
    opacity:0.8;
    text-align: center;
    
}
  


.slider{
    margin:50px auto;
    width: 50%;
}
  
.img-box img{
    width:100%
    
}


.rightbtn{
    border: none;
    outline: none;
    background:#888;
    padding:10px 30px;
    font-size:20px;
    color:#ddd;
    cursor: pointer;
    margin: 10px auto;
    float: right;
}

.leftbtn{
    border: none;
    outline: none;
    background:#888;
    padding:10px 30px;
    font-size:20px;
    color:#ddd;
    cursor: pointer;
    margin: 10px auto;
    float: left;
}

.leftbtn:hover {
    background: #111;
}

.rightbtn:hover {
    background: #111;
}






.policy,
.terms {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    border: 3px solid rgb(57, 62, 70);
    padding: 0 2em 1em;
    text-align: center;
}




.square {
    height: auto;
    max-width: 100%;
    border-color: #6F432A #98633B;
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: solid;
    border-width: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  